langchain==0.3.10
langchain-community==0.3.10
tiktoken==0.8.0
langchain-openai==0.2.11
langgraph==0.2.56
chromadb==0.5.23
langchain-text-splitters==0.3.2
langgraph-sdk==0.1.43
langchainhub==0.1.21
langchain-google-genai
langchain-core
streamlit
requests
typing-extensions
ollama



